body {
    background-color: #f8f9fa;
    font-family: 
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "Meiryo",
        sans-serif;
    margin: 0;
    padding: 2rem;
}

#app {
    max-width: 960px;
    margin: 0 auto;
}

.form-section {
    margin-bottom: 2rem;
}

.form-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
}

input[type="file"]
input[type="text"]
button {
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0.25rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

img.preview {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border: 1px soild #ced4da;
    border-radius: 0.375rem;
}

.map-container {
    height: 300px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    /* margin-top: 1rem; */
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

button {
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

button.primary {
    background-color: #0d6efd;
    color: #fff;
}

button.secondary {
    background-color: #6c757d;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}